<div class="container mt-5">
  <input type="text" [(ngModel)]="task" *ngIf="visible" class="form-control">
  <button (click)="click()" class="btn btn-outline-success full">add</button>
  <!-- loop -->

  <div *ngFor="let ob of names;let i = index;" class="animated flipInY">
    <p [ngClass]="{'green':ob.completed, 'red':!ob.completed}">
      Task: {{ob.name}} 
      <button (click)="delete(i)" class="btn btn-outline-danger" >Delete</button>
      <button (click)="mark(i)" class="btn btn-outline-dark">Mark</button>
    </p>
  </div>

  <!-- loop over -->

</div>
